.Nuseryplanthome-mainsection-row-nav{
    border-bottom: 1px solid #D9D9D9;
}
.NurseryProduct-page-section2-maindiv-div1-p1{
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Work Sans", serif;
    margin-right: 25%;
}
.NurseryProduct-page-section2-maindiv-div1-btn{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
    border: none;
    background: #FAAB34;
border-radius: 20px;
padding: 10px 20px;

}
.NurseryProduct-page-section2-maindiv-div2-p1{
    color: #B3B3B3;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Work Sans", serif;
    margin-top: 12%;
}
.NurseryProduct-page-section2-maindiv-div2-p1-span{
    color: #B3B3B3;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Work Sans", serif;
}
.NurseryProduct-page-section2-maindiv-div2-btn{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
    border: none;
    background: #FAAB34;
border-radius: 4px;
padding: 7px 24px;

}
/* ------------media------------- */
@media (max-width:675px) {
    .NurseryProduct-page-section2-maindiv-div1-btn{
        padding: 5px 8px;
        font-size: 0.8rem;
    }
    .NurseryProduct-page-section2-maindiv-div1-p1{
        margin-right: -6%;
        font-size: 1rem;
    }
    .NurseryProduct-page-section2-maindiv-div2-p1{
        margin-top: 0% !important;
    }
    .NurseryProduct-page-section2-maindiv {
        padding: 2rem !important;
    }
    .NurseryProduct-page-section3-mainrow-col3-rowcontent-col1-subsection{
        margin-top: 1rem !important;
    }
    .NurseryProduct-page-section3-mainrow-col3-rowcontent-col2-img{
        margin-top: 1rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .NurseryProduct-page-section3-mainrow-col3-rowcontent-col1-subsection{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .NurseryProduct-page-section3-mainrow-col3-rowcontent-col2-img1,
    .NurseryProduct-page-section3-mainrow-col3-rowcontent-col1-subsectionimg{
        width: 60%;
    }
    .NurseryProduct-page-section3-mainrow-col3,
    .NurseryProduct-page-section3-mainrow-col2{
        margin-top: 1rem !important;
    }
    .NurseryProduct-page-section2-maindiv-div2-p1-span{
font-size: 0.8rem;
    }

}
@media (min-width:676px) and (max-width:1024px) {
    .NurseryProduct-page-section2-maindiv-div1-p1{
        font-size: 1.2rem !important;
        margin-left: 0% !important;
    }
    .NurseryProduct-page-section2-maindiv-div1-btn {
        font-size: 0.8rem;}
        .NurseryProduct-page-section2-maindiv-div2-p1{
            margin-top: 1%;
            font-size: 0.8rem;
        }
        .NurseryProduct-page-section2-maindiv-div2-btn {
            font-size: 0.8rem;}
}






/* --------------------------------------section3--------------- */
.NurseryProduct-page-section3-mainrow-col2-subdiv1{
    background-image: url(/nursery-plant/images/Nurseryproductsec3img2.png);
    background-repeat: no-repeat;
    background-size: cover;
     padding: 17%; 
    border-radius: 9px;
}
.NurseryProduct-page-section3-mainrow-col2-subdiv1-p1{
    color: #858584;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Work Sans", serif;
    padding-left: 20% !important;
}
.NurseryProduct-page-section3-mainrow-col2-subdiv2{
    background: #FAAB34;
border-radius: 9px;
}
.NurseryProduct-page-section3-mainrow-col3-subdiv1{
    background: #000000;
    border-radius: 9px;
}
.NurseryProduct-page-section3-mainrow-col2-subdiv2-p1{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
}
.NurseryProduct-page-section3-mainrow-col3-subdiv-Golden-Pothos{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
}
.NurseryProduct-page-section3-mainrow-col3-subdiv1-p1{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Work Sans", serif;
    color: #B3B3B3;
}
@media (min-width:676px)  and (max-width:1024px){
    .NurseryProduct-page-section3-mainrow-col2-subdiv1-p1{
        font-size: 0.8rem;
    }
    .NurseryProduct-page-section3-mainrow-col3-subdiv-Golden-Pothos{
        font-size: 0.8rem;
    }
    .NurseryProduct-page-section3-mainrow-col3-subdiv1-p1{
        font-size: 0.6rem;
        margin-bottom: 0% !important;
    }
     .NurseryProduct-page-section3-mainrow-col2-subdiv2 {
        padding: 1rem !important;
    } 
    .NurseryProduct-page-section3-mainrow-col2-subdiv2-p1{
        font-size: 0.6rem;
    }
.NurseryProduct-page-section3-mainrow-col3-subdiv1{
    padding: 0.5rem !important;
} 
.NurseryProduct-page-section3-mainrow-col3-rowcontent-col2-img{
    margin-top: 13%;
}
}









/* ------------------------------------section4----------- */
.NurseryProduct-page-section4-maindiv{
    background: #000000;
}
.NurseryProduct-page-section4-maindiv-p1{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
    text-align: center;
    margin-left: 29%;
    margin-right: 25%;
}

@media (max-width:676px) {
    .NurseryProduct-page-section4-maindiv-p1{
        margin-left: 0%;
        margin-right: 0%;
        font-size: 1rem;
    }
    /* .section4maindiv{
        /* padding-left: 11%;
        padding-right: 11%;
        padding-bottom: 4%; 
    } */
    .section4maindiv{
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
    }
    .NurseryProduct-page-section5-maindiv-container-subdiv-p1 {
        font-size: 1rem !important;
    }

    .Nuseryplantproduct-mainsection-row10-carousel-card{
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        border: none !important;
    
    }
    .row10card{
        width: 70% !important;
    }
}
@media (min-width:678px) and (max-width:1024px) {
    .NurseryProduct-page-section4-maindiv-p1{
        font-size: 1rem;
}
.Nuseryplanthome-mainsection-row9-container-carousel-title{
    font-size: 0.6rem !important;
}
.Nuseryplanthome-mainsection-row9-container-carousel-text{
    font-size: 0.8rem !important;
}
.NurseryProduct-page-section5-maindiv-container-subdiv-p1 {
    font-size: 1rem !important;
}
}





/* --------------------------------section5-------------- */
.NurseryProduct-page-section5-maindiv-container-subdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NurseryProduct-page-section5-maindiv-container-subdiv-p1{
    color: #373737;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Work Sans", serif;
}
.NurseryProduct-page-section5-maindiv-container-btn{
    border: none;
    background-color: transparent;
}
/* -----------------------------------section6------------ */
.NurseryProduct-page-section6-mainrow{
    background-image: url(/nursery-plant/images/nurseryProductsec6bgimg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.NurseryProduct-page-section6-mainrow-col1-p{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Work Sans", serif;
    color: #FFFFFF;
}
/* ------------media------------- */
@media (max-width:675px) {
    .NurseryProduct-page-section6-mainrow-col1-p{
       
        font-size: 1rem;
    }
.NurseryProduct-page-section6-mainrow-col1-img{
    width: 7%;
    margin-left: 20%;
}
}
@media  (min-width:676px) and (max-width:1024px) {
    .NurseryProduct-page-section6-mainrow-col1-p{
       
        font-size: 1rem;
    }
.NurseryProduct-page-section6-mainrow-col1-img{
    width: 14%;
    
}
.Nuseryplanthome-mainsection-row9-container-carousel-card{
    --bs-card-spacer-y: 0% !important;
    --bs-card-spacer-x:0% !important;
    padding: 1% !important;
}
}
